/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
README.md
.env.example
.editorconfig
.styleci.yml
webpack.mix.js
package-lock.json
package.json
phpunit.xml
artisan
.gitattributes
composer.json
composer.lock
server.php
