div( data-highcharts-double='container', data-file='http://127.0.0.1:8000/components/highchart/highchart.json' )
	.highcharts-container-double-detail( data-highcharts-double='detail' )
	div( data-highcharts-double='master', style='height:100px;' )
